<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="auto" content='spider'>
	<meta charset="UTF-8">
	<title>九华山旅行社</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/buy.css">
</head>
<body>
	<header id='header'>
		<div class='center'>
			<h1 class="logo">九华山旅行社</h1>
			<nav style='overflow:hidden;'>
				<!--为了大纲清晰，所以要加个标题-->
				<h2 class="none">网站导航</h2>
			<ul class="link">
					<li ><a href="index">首页</a></li>
{#					<li><a href="information">旅游咨询</a></li>#}
{#					<li><a href="buy.html">机票订购</a></li>#}
					<li><a href="scenery">风景欣赏</a></li>
					<li  class="active"><a href="about">公司简介</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div id="headline">
		<div class="center">
			<hgroup>				
				<h2>旅游咨询</h2>
				<h3>介绍各种旅游信息、资讯要闻、景点攻略等</h3>
			</hgroup>
		</div>
	</div>
	<div id="containter">
		<aside class='sidebar'>
{#			<div class="sidebox recommend">#}
{#				<h2>景点推荐</h2>#}
{#				<div class="tag">#}
{#					<ul>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#						<li><a href="#">漓江(16)</a></li>#}
{#					</ul>#}
{#				</div>#}
{#			</div>#}
			<div class="sidebox hot">
				<h2>热卖旅游</h2>
				<div>
					<figure>
						<img src="/static/image/sidebar1.jpg" />
						<figcaption>柯村大牌坊</figcaption>
					</figure>
					<figure>
						<img src="/static/image/sidebar2.jpg" />
						<figcaption>天台</figcaption>
					</figure>
					<figure>
						<img src="/static/image/sidebar3.jpg" />
						<figcaption>净洁精舍</figcaption>
					</figure>
					<figure>
						<img src="/static/image/sidebar4.jpg" />
						<figcaption>祈愿寺</figcaption>
					</figure>
					<figure>
						<img src="/static/image/sidebar5.jpg" />
						<figcaption>寺庙早课</figcaption>
					</figure>
					<figure>
						<img src="/static/image/sidebar6.jpg" />
						<figcaption>大殿</figcaption>
					</figure>
					<figure>
						<img src="/static/image/sidebar7.jpg" />
						<figcaption>天台雪景</figcaption>
					</figure>
					<figure>
						<img src="/static/image/sidebar8.jpg" />
						<figcaption>地藏圣像</figcaption>
					</figure>
					<figure>
						<img src="/static/image/sidebar9.jpg" />
						<figcaption>夕阳天台</figcaption>
					</figure>
					<figure>
						<img src="/static/image/sidebar10.jpg" />
						<figcaption>东崖禅寺</figcaption>
					</figure>
				</div>
			</div>
			<div class="sidebox tourBox">
				<h2>旅游百宝箱</h2>
				<div>
					<a href="#" class="sky1">火车票查询</a>
					<a href="#"  class="sky2">机票查询</a>
					<a href="#"  class="sky3">动车查询</a>
					<a href="#"  class="sky4">客车查询</a>
				</div>
			</div>
		</aside>
		<div class="list  about">
			<section>
				<h2>关于我们</h2>
				<hr>
				<p>九华山旅游网创立于九华山风景区，是具有当地特色的旅游包车住宿导游服务公司，并提供丰富的后续服务和保障。<p>
				<p>目前，九华山旅游网提供高铁接送、机场接送、导游、住宿景区门票以及公司旅游等，获得广大游客好评。</p>
				<p>欢迎来九华山的游客朋友，九华山旅游网竭诚为您服务。</p>
			</section>
			<p>&nbsp;</p>
			<section>
				<h2>联系方式</h2>
				<hr>
				<ul>
					<li>24小时全国服务热线：13355661100</li>
					<li>客户服务邮箱： 133355661100@qq.com</li>
{#					<li>市场推广及品牌合作业务咨询：mz-marketing@meizu.com</li>#}
{#					<li>经销商服务咨询：business@meizu.com</li>#}
				</ul>
			</section>
		</div>
	</div>
			<footer id='foot'>
			<div class="top">
				<div class="block left ">
					<h2>合作伙伴</h2>
					<hr>
					<ul>
						<li>途牛旅游网</li>
						<li>驴妈妈旅游网</li>
						<li>携程旅游</li>
						<li>中国青年旅行社</li>
					</ul>
				</div>
				<div class="block center ">
					<h2>合作伙伴</h2>
					<hr>
					<ul>
						<li>途牛旅游网</li>
						<li>驴妈妈旅游网</li>
						<li>携程旅游</li>
						<li>中国青年旅行社</li>
					</ul>
				</div>
				<div class="block right ">
					<h2>合作伙伴</h2>
					<hr>
					<ul>
						<li>途牛旅游网</li>
						<li>驴妈妈旅游网</li>
						<li>携程旅游</li>
						<li>中国青年旅行社</li>
					</ul>
				</div>
			</div>
			<div class="bottom">
				九华山旅行社 | www.zz.com | 旅行经营许可证
			</div>
		</footer>
</body>
</html>